.nav {
  grid-area: n;
  background-color: burlywood;  
}



.item a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.activeLink {
  color: gold;
  text-decoration: none;
}


.item a:hover {
  color: black;
}
