.app-wrapper {
  display: grid;
 
  width: 1400px;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 40px 1fr;
  grid-template-columns: 1fr 6fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
    grid-area: c;
    background-color: khaki;
  }
  
  /* .content img {
     min-width: 150px; 
    height: 250px;
    aspect-ratio: 25/5;
  
  } */
  
  /* .item {
    color: red;
  } */

